body{
	background: white;
	color: black;
	size: 150%;
	margin: 5%;
}

a:focus{
	border:1px solid;
} 
p{
	font-family: Arial;
}

.current{
	color:#00000
	background: blue;
	text-transform: uppercase;
}

.skip:focus{
	position:relative;
	left: -2000px;
}